<% provide :title, t(".log_in") %>

<div class="container h-100">
  <div class="row h-100">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="p-4">
          <h1 class="text-center"><%= t ".log_in" %></h1>
          <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email, t(".email") %>
            <%= f.email_field :email, class: "form-control" %>

            <%= f.label :password, t(".password") %>
            <%= f.password_field :password, class: "form-control" %>

            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span><%= t ".remember" %></span>
            <% end %>
          <br>
          <%= f.submit t(".btn_log_in"), class: "btn btn-primary btn-block " %>
          <% end %>
        </div>
      </div>
      <div class="col-3"></div>
  </div>
</div>
