<%= form_for @user, class: "form-signin text-center" do |f| %>
  <h1 class="h3 mb-3 font-weight-normal mt-3 text-center"><%= t "form.title_signup" %></h1>
  <%= render "shared/error_messages", object: f.object %>
  <div>
    <%= f.text_field :name, class:" form-control mt-2", placeholder: t("form.full_name") %>
  </div>
  <div>
    <%= f.email_field :email, class:"form-control mt-2", placeholder: t("form.email") %>
  </div>
  <div>
    <%= f.text_field :address, class:"form-control mt-2", placeholder: t("form.address") %>
  </div>
  <div>
    <%= f.password_field :password, class:"form-control mt-2", placeholder: t("form.password") %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, class:"form-control mt-2", placeholder: t("form.confirm_password") %>
  </div>
  <div>
    <%= f.number_field :phone_number, class:"form-control mt-2", placeholder: t("form.phone_number") %>
  </div>
  <div>
   <%= f.submit t("form.btn_signup"), class:"btn btn-primary btn-block mt-3" %>
  </div>
  <div class="mt-3"></div>
<% end %>
