<% provide :title, t(".index_title") %>
<h1 class= "text-center"><%= t ".index_title" %></h1>
<%= link_to t(".create_user"), signup_path, class: "btn btn-primary" %>

<%= will_paginate(@things, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "justify-content-center mt-5") %>

<%= render @users %>

<%= will_paginate(@things, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "justify-content-center mb-5") %>
