<% provide:title, t(".sign_up") %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="h3 mb-3 font-weight-normal mt-3 text-center"><%= t ".create" %></h1>
      <%= form_for @user, class: "form-signin text-center" do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="form-group">
          <%= f.label :name, t("full_name") %>
          <%= f.text_field :name, class:" form-control mt-2", placeholder: t("form.full_name") %>
        </div>
        <div class="form-group">
          <%= f.label :email, t(".email") %>
          <%= f.email_field :email, class:"form-control mt-2", placeholder: t("form.email") %>
        </div>
        <div class="form-group">
          <%= f.label :address, t(".address") %>
          <%= f.text_field :address, class:"form-control mt-2", placeholder: t("form.address") %>
        </div>
        <div class="form-group">
          <%= f.label :password, t(".password") %>
          <%= f.password_field :password, class:"form-control mt-2", placeholder: t("form.password") %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, t(".confirm_password") %>
          <%= f.password_field :password_confirmation, class:"form-control mt-2", placeholder: t("form.confirm_password") %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number, t(".phone_number") %>
          <%= f.text_field :phone_number, class:"form-control mt-2", placeholder: t("form.phone_number") %>
        </div>
        <div class="form-group">
          <%= f.label :role, t(".select_role") %>
          <%= f.select(:role, User.roles.keys, {prompt: t(".select_role")}, class: "form-control") %>
        </div>
        <div>
        <%= f.submit t(".btn_submit"), class:"btn btn-primary btn-block mt-3" %>
        </div>
        <div class="mb-5"></div>
      <% end %>
    </div>
  </div>
</div>

