<% provide(:title, @subject.title) %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><%= t ".subject" %></h4>
    </div>
    <div class="body">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col-12 text-center">
            </div>
          </div>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td><%= t "form.title_subject" %></td>
              <td><%= @subject.title %></td>
            </tr>
            <tr>
              <td><%= t "form.description_subject" %></td>
              <td><%= @subject.description %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
