<div class="card border rounded bg-light subject-<%= subject.id %>">
  <div>
    <%= image_tag("git.png", class: "img-thumbnail rounded float-left img-height", alt: t(".img_avatar")) %>
    <div class="card-body p-0">
      <h1 class="card-title">
        <%= subject.title %>
      </h1>
      <p class="card-text">
        <%= subject.description %>
      </p>
      <div class="btn-group">
        <%= link_to t(".show_details"), "#", class: "btn btn-info" %>
        <%= link_to t(".delete_subject"), delete_subject_courses_path(subject_id: subject.id, id: @course.id),
          method: :delete, data: {confirm: t(".cf_sure")}, remote: true, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
